<!DOCTYPE html>
<html>
  <head>
    <title>DpBlogPresentation</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div id='navbar'>
      <span>
        <% if current_user %>
          <%= link_to "logout", destroy_user_session_path, method: :delete %>
        <% else %>
          <%= link_to "login", new_user_session_path %>
        <% end %>
      </span>
      <span><%= link_to "posts", posts_path %></span>
      <% if logged_in?(:company_admin) %>
        <span><%= link_to "users", admin_users_path %></span>
      <% end %>
    </div>
    <br/>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <div class='container'>
      <%= yield %>
    </div>
  </body>
</html>
